
<div   class="row g-3"><div style="background-color:darkgray;" class="col-md-6">
    <h2>Employee Details </h2>
    <p>Name: {{name | uppercase}}</p>
    <p>Salary: {{salary | currency}}</p>
    <p>Salary: {{salary | currency : 'INR'}}</p>
    <p>Salary: {{salary | currency : 'JPY'}}</p>
    <p>Dob: {{dob | date}}</p>
    <p>Dob: {{dob | date : 'dd-MM-yyyy'}}</p>
    <p>Dob: {{dob | date : 'MM-dd-yyyy'}}</p>
</div>
    <div style="background-color: rgb(121, 120, 118);"  class="col-md-6">
        <h2>Fruits List </h2>
        <p *ngIf = 'status'>Status: {{status}}</p>
        <div *ngFor = 'let f of fruits'>{{f}}</div>
        <ol>
            <li   *ngFor = 'let f of fruits'>{{f}}</li>
        </ol>
    </div>

</div>
